.btn-color{
    background-color: #0e1c36;
    color: #fff;
    padding: 12px;
  }
  input{
      padding:12px;
  }
  .profile-image-pic{
    height: 130px;
    width: 130px;
    object-fit: cover;
  }
  
  
  #emailHelp a{
    color: #00A9EF !important;
    font-weight: 600;
    transition: all 0.3s ease 0s;
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }